header.header-black
	.main-grid.headline.headline--black
		.hamburger-container.vertical-align 
			a(href="#").hamburger-btn
		.logo-container.vertical-align 
			a.logo(href="#") 
				img(src="../images/logo.svg", alt="")
		.sigin-container.vertical-align 
			.sigin-body
				a(href="#") Войти
				span /
				a(href="#") Регистрация
				//- a(href="#") 
				//-   i.img-cover 
				//-     img(src="../images/temp/1.jpg", alt="")
				//- //-   em Медведев Евгений
				//- span /
				//- a(href="#") Выйти

		.city-container.vertical-align 
			.city-body
				em Ваш Город: 
				a(href="#")  Москва
		.controls-container.vertical-align
			.controls-body
				form.form(action="") 
					input.search-field(type="text" placeholder="| Введите поисковой запрос ...")
				.loop-btn
				.basket-btn
		hr
	.main-grid.headerline
		nav.nav
			ul
				each val in ["Товары","Услуги"]
					li
						a(href="#")
							= val

