mixin itemDefault(col, name, img, data, text, btnClass, btnText)
  .item-default(class="item-col-"+col)
    h3
      a(href="#")= name
    .item-default--img(href="#")
      img(src= img, alt="")
    if data
      .item-default--date= data 
    if text
      .item-defatit--description= text
    if btnClass
      a(href="#" class= btnClass)= btnText