mixin log-reg(logReg)
  .sigin-body
    if logReg == 0
      a(href="#") Войти
      span /
      a(href="#") Регистрация
    else
      a(href="#") 
        i.img-cover 
          img(src="../images/temp/1.jpg", alt="")
        em Медведев Евгений
        span /
        a(href="#") Выйти