mixin modal-template(num, topicModal, textModal, visibility, addClass)
  if(visibility)
    .modal.element-show.show(data-element= num  class= addClass)
      .modal-bg
      .modal__container 
        .close-btn.close-js
        .main-full
          if topicModal
            h2= topicModal
          if textModal
            .modal__greetings
              = textModal
        if block
          block
  else
    .modal.element-show(data-element=num class=addClass)
      .modal-bg
      .modal__container 
        .close-btn.close-js
        .main-full
          if topicModal
            h2= topicModal
          if textModal
            .modal__greetings
              = textModal
        if block
          block