mixin modal-template(num, topicModal, textModal, visibility)
  if(visibility)
    .modal.element-show.modal--visible(data-showEl=num)
      .modal__container 
        .close-btn
        .main-full
          if topicModal
            h2= topicModal
          if textModal
            .modal__greetings
              = textModal
        if block
          block
  else
    .modal.element-show(data-showEl=num)
      .modal__container 
        .close-btn
        .main-full
          if topicModal
            h2= topicModal
          if textModal
            .modal__greetings
              = textModal
        if block
          block