mixin social(v,i,tw)
  .social
    if v == 'v'
      a(href="#")
        img(src="../images/social/v-b.svg", alt="")
    if v == 'vw'
      a(href="#").social-ico-white
        img(src="../images/social/v-w.svg", alt="")
    if i == 'i'
      a(href="#")
        img(src="../images/social/i-b-2.svg", alt="")
    if i == 'iw'
      a(href="#").social-ico-white
        img(src="../images/social/i-w-2.svg", alt="")
    if tw == 'tw'
      a(href="#")
        img(src="../images/social/tw-b.svg", alt="")
    if tw == 'tww'
      a(href="#").social-ico-white
        img(src="../images/social/tw-w.svg", alt="")