doctype html
html
	// head start
	include default/head.pug 
	// head end
	body
		// modal-menu start 1
		include modal/menu__modal.pug
		// modal-menu end 2

		// modal-form start
		include modal/backcall__modal.pug
		// modal-form end

		// header start
		include default/header.pug
		
		// header end
		+roofContent("Детальная страница")
			include detail/header.pug
			include detail/main.pug
			include detail/recent-items.pug
			include detail/reviews.pug

 
			
		// slider thumbnails end
		
		// footer start 
		.stub-footer
		include default/footer.pug
		
		// footer end 