doctype html
html
	// head start
	include default/head.pug 
	// head end
	body
		// modal-menu start
		include modal/modal-menu.pug
		// modal-menu end

		// modal-form start
		include modal/modal-form.pug
		// modal-form end

		// header start
		include default/header.pug
		.stub
		// header end
		
		section
			h2 Новая секция