+modal-template(0)
  nav.menu__modal
    ul 
      each val,index in ["Каталог", "Акции","О нас", "Где купить","Контакты"]
        li 
          a(href="#")
            = val 
  .feedback 
    .feedback__container
      .feedback__phone
        a(href="tel:+88005559810" ) +7 (921) 789 - 65 - 31
      .feedback__social
        a(href="#") 
          img(src="../images/social/v-2.svg", alt="")  